exportPattern("^[[:alpha:]]+")
export("dgrpLogger")
export("dgrp_logger_types")
export("GeneFilterAbstract")
export("LogarithmGeneFilter")
export("LowCountsGeneFilter")
export("IlluminaHiSeqMapper")
export("DiseaseDifferentialExpressionAbstract")
export("DichotomicVoomDifferentialExpression")
export("DiseaseSignatureByIlluminaHiSeq")
